# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# IDE Temp Files
**/*.swp

# Android files
android/wolfssljni-ndk-sample/bin
android/wolfssljni-ndk-sample/build.xml
android/wolfssljni-ndk-sample/gen
android/wolfssljni-ndk-sample/local.properties
android/wolfssljni-ndk-sample/obj
android/wolfssljni-ndk-sample/proguard-project.txt

# Example executables
/dtls/client-dtls-nonblocking
/dtls/client-dtls-resume
/dtls/client-dtls-shared
/dtls/client-dtls
/dtls/client-udp
/dtls/server-dtls-nonblocking
/dtls/server-dtls-threaded
/dtls/server-dtls
/dtls/server-udp

/psk/client-psk-nonblocking
/psk/client-psk-resume
/psk/client-psk
/psk/client-tcp
/psk/server-psk-nonblocking
/psk/server-psk-threaded
/psk/server-psk
/psk/server-tcp

/tls/client-tcp
/tls/client-tls
/tls/client-tls-callback
/tls/client-tls-ecdhe
/tls/client-tls-nonblocking
/tls/client-tls-perf
/tls/client-tls-resume
/tls/client-tls-writedup
/tls/memory-tls
/tls/server-tcp
/tls/server-tls
/tls/server-tls-callback
/tls/server-tls-ecdhe
/tls/server-tls-epoll-perf
/tls/server-tls-epoll-threaded
/tls/server-tls-nonblocking
/tls/server-tls-threaded
/tls/client-tls-pkcs12

crypto/3des/3des-file-encrypt
crypto/aes/aes-file-encrypt
crypto/camellia/camellia-encrypt
crypto/keys/ecc_keys

*/file-client/start-client
*/file-server/start-server

#Example der and x963 files
crypto/keys/*.der
crypto/keys/*.x963

signature/signature
signature/ED25519/gen_key_files
signature/ED25519/sign_and_verify

#cergen
certgen/test.o
certgen/newCert*
certgen/run_certgen_example


btle/ecc-client
btle/ecc-server

signature/sigtest/wolfsigtest
signature/sigtest/opensigtest
signature/firmware_sign/eccsign
signature/rsa_buffer/sign
signature/rsa_buffer/verify

ecc/ecc-key-decode
ecc/ecc-sign
ecc/ecc-stack
ecc/ecc-verify
pkcs7/pkcs7-verify
pkcs7/authEnvelopedData-kari
pkcs7/authEnvelopedData-ktri
pkcs7/authEnvelopedData-kekri
pkcs7/authEnvelopedData-ori
pkcs7/authEnvelopedData-pwri
pkcs7/encryptedData
pkcs7/compressedData
pkcs7/*.der
pkcs7/envelopedData-kari
pkcs7/envelopedData-ktri
pkcs7/envelopedData-kekri
pkcs7/envelopedData-pwri
pkcs7/envelopedData-ori
pkcs7/signedData
pkcs7/signedData-cryptodev
pkcs7/signedData-FirmwarePkgData
pkcs7/signedData-DetachedSignature
pkcs7/signedData-EncryptedFirmwarePkgData
pkcs7/signedData-CompressedFirmwarePkgData
pkcs7/signedData-EncryptedCompressedFirmwarePkgData

*.dSYM
certmanager/certloadverifybuffer
certmanager/certverify

rsa/sign
rsa/verify

pkcs11/pkcs11_test
pkcs11/pkcs11_rsa
pkcs11/pkcs11_ecc
pkcs11/pkcs11_genecc
pkcs11/pkcs11_aesgcm
pkcs11/server-tls-pkcs11
pkcs11/softhsm2.conf
pkcs11/softhsm2

crypto/rsa-pss/rsa-pss
crypto/rsa-pss/rsa-public.key
crypto/rsa-pss/sign.txt
