# user sensitive config files
**/my_private_config.h

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# IDE Temp Files
**/*.swp

# Android files
android/wolfcryptjni-ndk-gradle/.gradle
android/wolfcryptjni-ndk-gradle/.idea
android/wolfcryptjni-ndk-gradle/local.properties
android/wolfcryptjni-ndk-gradle/app/.externalNativeBuild
android/wolfcryptjni-ndk-gradle/app/build
android/wolfssljni-ndk-gradle/.gradle
android/wolfssljni-ndk-gradle/.idea
android/wolfssljni-ndk-gradle/local.properties
android/wolfssljni-ndk-gradle/app/.externalNativeBuild
android/wolfssljni-ndk-gradle/app/build
android/wolfssljni-ndk-sample/bin
android/wolfssljni-ndk-sample/build.xml
android/wolfssljni-ndk-sample/gen
android/wolfssljni-ndk-sample/local.properties
android/wolfssljni-ndk-sample/obj
android/wolfssljni-ndk-sample/proguard-project.txt

# Example executables
/dtls/client-dtls-callback
/dtls/client-dtls-ipv6
/dtls/client-dtls-nonblocking
/dtls/client-dtls-resume
/dtls/client-dtls-shared
/dtls/client-dtls
/dtls/client-udp
/dtls/server-dtls-callback
/dtls/server-dtls-ipv6
/dtls/server-dtls-nonblocking
/dtls/server-dtls-threaded
/dtls/server-dtls
/dtls/server-udp

/psk/client-psk-bio-custom
/psk/client-psk-nonblocking
/psk/client-psk-resume
/psk/client-psk-tls13-multi-id
/psk/client-psk
/psk/client-tcp
/psk/server-psk-nonblocking
/psk/server-psk-threaded
/psk/server-psk-tls13-multi-id
/psk/server-psk
/psk/server-tcp

/tls/client-tcp
/tls/client-tls
/tls/client-tls13
/tls/client-tls13-resume
/tls/client-tls-bio
/tls/client-tls-cacb
/tls/client-tls-callback
/tls/client-tls-ecdhe
/tls/client-tls-nonblocking
/tls/client-tls-perf
/tls/client-tls-resume
/tls/client-tls-uart
/tls/client-tls-writedup

/tls/memory-tls

/tls/server-tcp
/tls/server-tls
/tls/server-tls13
/tls/server-tls-callback
/tls/server-tls-ecdhe
/tls/server-tls-epoll-perf
/tls/server-tls-epoll-threaded
/tls/server-tls-nonblocking
/tls/server-tls-threaded
/tls/client-tls-pkcs12
/tls/client-tls-cryptocb
/tls/server-tls-pkcallback
/tls/client-tls-pkcallback
/tls/server-tls-uart
/tls/server-tls-verifycallback
/tls/server-tls-writedup



crypto/3des/3des-file-encrypt
crypto/aes/aes-file-encrypt
crypto/aes/aescfb-file-encrypt
crypto/aes/aesctr-file-encrypt
crypto/camellia/camellia-encrypt
crypto/pkcs12/pkcs12-create-example
crypto/pkcs12/pkcs12-example

*/file-client/start-client
*/file-server/start-server

signature/signature

#cergen
certgen/newCert*
certgen/certgen_example
certgen/csr_cryptocb
certgen/csr_example
certgen/csr_sign
certgen/csr_w_ed25519_example
certgen/certgen_with_altnames

certgen/ecc-csr.pem
certgen/ecc-key.pem
certgen/ed25519-csr.pem
certgen/ed25519-key.pem
certgen/newCert.der
certgen/newCert.pem

btle/ecies/ecc-client
btle/ecies/ecc-server
btle/tls/server-tls13-btle
btle/tls/client-tls13-btle

signature/sigtest/wolfsigtest
signature/sigtest/opensigtest
signature/sigtest/eccsiglentest
signature/firmware_sign/eccsign
signature/rsa_buffer/sign
signature/rsa_buffer/verify
signature/rsa_vfy_only/verify
signature/ecc-sign-verify/ecc_sign_verify

ecc/ecc-key-decode
ecc/ecc-key-export
ecc/ecc-params
ecc/ecc-sign
ecc/ecc-stack
ecc/ecc-verify
ecc/ecc-export-Qx-Qy
ecc/*.der
ecc/*.pem
pkcs7/pkcs7-verify
pkcs7/authEnvelopedData-kari
pkcs7/authEnvelopedData-ktri
pkcs7/authEnvelopedData-kekri
pkcs7/authEnvelopedData-ori
pkcs7/authEnvelopedData-pwri
pkcs7/encryptedData
pkcs7/compressedData
pkcs7/*.der
pkcs7/envelopedData-kari
pkcs7/envelopedData-ktri
pkcs7/envelopedData-kekri
pkcs7/envelopedData-pwri
pkcs7/envelopedData-ori
pkcs7/signedData
pkcs7/signedData-cryptodev
pkcs7/signedData-FirmwarePkgData
pkcs7/signedData-DetachedSignature
pkcs7/signedData-EncryptedFirmwarePkgData
pkcs7/signedData-CompressedFirmwarePkgData
pkcs7/signedData-EncryptedCompressedFirmwarePkgData
pkcs7/signedData-EncryptedFirmwareCB
pkcs7/signedData-p7b

*.dSYM
certmanager/certloadverifybuffer
certmanager/certverify

rsa/sign
rsa/verify

pkcs11/pkcs11_test
pkcs11/pkcs11_rsa
pkcs11/pkcs11_ecc
pkcs11/pkcs11_genecc
pkcs11/pkcs11_aesgcm
pkcs11/pkcs11_aescbc
pkcs11/pkcs11_hmac
pkcs11/pkcs11_rand
pkcs11/server-tls-pkcs11
pkcs11/server-tls-pkcs11-ecc
pkcs11/softhsm2.conf
pkcs11/softhsm2

pk/rsa-pss/rsa-pss
pk/rsa-pss/rsa-public.der
pk/rsa-pss/sign.txt
pk/rsa/rsa-nb
pk/ecc/ecc_verify
pk/ecc/ecc_sign
pk/ecc/ecc_pub
pk/ecc/ecc_keys

#Example der and x963 files
pk/ecc/*.der
pk/ecc/*.x963
pk/ed25519_gen/gen_key_files
pk/ed25519_gen/sign_and_verify
pk/ecdh_generate_secret/ecdh_gen_secret
pk/rsa-kg/rsa-kg-sv
pk/rsa-kg/rsa-kg
pk/dh-pg/dh-pg-ka
pk/test_cert_and_private_keypair/test-cert-privkey-pair
pk/srp/srp_gen
pk/srp/srp
pk/ed25519/ed25519_verify
pk/ed25519/ed25519_sign
pk/ed25519/ed25519_pub
pk/ed25519/ed25519_keys
pk/ed25519/*.der
pk/ed448/ed448_verify
pk/ed448/ed448_sign
pk/ed448/ed448_pub
pk/ed448/ed448_keys
pk/ed448/*.der
pk/curve25519/curve25519_test

embedded/tls-client-server
embedded/tls-server-size
embedded/tls-sock-client
embedded/tls-sock-client-ca
embedded/tls-sock-server
embedded/tls-sock-server-ca
embedded/tls-sock-threaded
embedded/tls-threaded

hash/sha256-hash

ocsp/ocsp_nonblock/ocsp_nonblock

sslkeylog.log

tpm/evp_tpm

# Visual Studio / VisualGDB

/tls/VisualGDB-tls/.visualgdb/*
/tls/VisualGDB-tls/.vs
/tls/VisualGDB-tls/*/.vs/*
/tls/VisualGDB-tls/*/Debug/*
/tls/VisualGDB-tls/*/Release/*
/tls/VisualGDB-tls/*/VisualGDB/Debug/*
/tls/VisualGDB-tls/*/VisualGDB/Release/*
/tls/VisualGDB-tls/*/x64/Debug
/tls/VisualGDB-tls/*/x64/Release
/tls/VisualGDB-tls/*/Makefile.old
/tls/VisualGDB-tls/*/debug.mak.old
/tls/VisualGDB-tls/*/release.mak.old
/tls/VisualGDB-tls/*/*.vgdbsettings.*.user

/tls/build/VisualGDB/Debug

# vscode user directories
**/.vs/*

# Visual Studio / VisualGDB

**/.visualgdb/*
**/*/Makefile.old
**/*/debug.mak.old
**/*/release.mak.old
**/*.vgdbsettings.*.user
**/*.vgdbproj.*.user

**/*/Debug/*
**/*/Release/*
**/*/x64/Debug
**/*/x64/Release
**/out/build/x64-Debug
**/out/build/x64-Release
**/build/VisualGDB/Debug
**/build/VisualGDB/Release

# VisualGDB auto-generated files
**/*/gcc_Debug.h
**/*/gcc_Release.h
**/*/*.vcxproj.filters
**/*/*.vcxproj.user

# EDP-IDF
**/main/build/CMakeFiles/*
**/build/*

# VisualGDB
**/.visualgdb

# Espressif sdk config default should be saved in sdkconfig.defaults
# we won't track the actual working sdkconfig files
/ESP32/**/sdkconfig
/ESP32/**/sdkconfig.old
/ESP32/**/sdkconfig.bak

# the solution files are not needed (Visual Studio will generated them)
/ESP32/**/*.sln

# auto-created CMake backups
**/CMakeLists.txt.old

