# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex


# Android files
android/wolfssljni-ndk-sample/bin
android/wolfssljni-ndk-sample/build.xml
android/wolfssljni-ndk-sample/gen
android/wolfssljni-ndk-sample/local.properties
android/wolfssljni-ndk-sample/obj
android/wolfssljni-ndk-sample/proguard-project.txt

# Example executables
/dtls/client-dtls-nonblocking
/dtls/client-dtls-resume
/dtls/client-dtls-shared
/dtls/client-dtls
/dtls/client-udp
/dtls/server-dtls-nonblocking
/dtls/server-dtls-threaded
/dtls/server-dtls
/dtls/server-udp

/psk/client-psk-nonblocking
/psk/client-psk-resume
/psk/client-psk
/psk/client-tcp
/psk/server-psk-nonblocking
/psk/server-psk-threaded
/psk/server-psk
/psk/server-tcp

/tls/client-tcp
/tls/client-tls
/tls/client-tls-callback
/tls/client-tls-ecdhe
/tls/client-tls-nonblocking
/tls/client-tls-perf
/tls/client-tls-resume
/tls/client-tls-writedup
/tls/memory-tls
/tls/server-tcp
/tls/server-tls
/tls/server-tls-callback
/tls/server-tls-ecdhe
/tls/server-tls-epoll-perf
/tls/server-tls-epoll-threaded
/tls/server-tls-nonblocking
/tls/server-tls-threaded

crypto/3des/3des-file-encrypt
crypto/aes/aes-file-encrypt
crypto/camellia/camellia-encrypt
crypto/keys/ecc_keys

*/file-client/start-client
*/file-server/start-server

#Example der and x963 files
crypto/keys/*.der
crypto/keys/*.x963

signature/signature
signature/ED25519/gen_key_files
signature/ED25519/sign_and_verify

#cergen
certgen/test.o
certgen/newCert*
certgen/run_certgen_example


