transportConfigurationId
2                              # Client thread quota - one for UDP and one for TCP
2                              # Client connection quota - one for UDP and one for TCP
0                              # Server startup quota
0                              # Server connection quota
transportMemoryObject          # Name of memory object used for managing connections
/

connectionId1                  # UDP connection
Network                        # Server process name
defaultMailbox                 # Server connection request mailbox name
0                              # Server connection mailbox queue size (unused by Network process)
userServiceThread              # Server thread template name
*                              # Error timeout
1                              # Client connection mailbox queue size; each queue entry requires a page of RAM
/

connectionId2                  # TCP connection
Network                        # Server process name
defaultMailbox                 # Server connection request mailbox name
0                              # Server connection mailbox queue size (unused by Network process)
userServiceThread              # Server thread template name
*                              # Error timeout
1                              # Client connection mailbox queue size; simple protocols only require 1 entry 
/