transportConfigurationId
2                              # Client thread quota - one for client and one for server
2                              # Client connection quota -one for client and one for server
0                              # Server startup quota
0                              # Server connection quota
transportMemoryObject          # Name of memory object used for managing connections
/

connectionId1                  # TLS client connection
Network                        # Server process name
defaultMailbox                 # Server connection request mailbox name
0                              # Server connection mailbox queue size (unused by Network process)
userServiceThread              # Server thread template name
*                              # Error timeout
1                              # Client connection mailbox queue size; each queue entry requires a page of RAM
/

connectionId2                  # TLS Server connection
Network                        # Server process name
defaultMailbox                 # Server connection request mailbox name
0                              # Server connection mailbox queue size (unused by Network process)
userServiceThread              # Server thread template name
*                              # Error timeout
1                              # Client connection mailbox queue size; simple protocols only require 1 entry 
/